/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

html {
  font-family: 'Roboto', sans-serif; }

.slide-fade-enter-active {
  transition: all .3s ease; }

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1); }

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0; }

header {
  width: 100%;
  height: 630px;
  background-image: url("../images/pines.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  header .header-container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px; }
    @media screen and (max-width: 1366px) {
      header .header-container {
        width: 95%; } }
    header .header-container a {
      float: left;
      font-size: 20px;
      font-weight: 500;
      text-decoration: none;
      color: #333333;
      opacity: 1;
      -webkit-transition: opacity 0.5s ease-in-out;
      /* For Safari 3.1 to 6.0 */
      transition: opacity 0.5s ease-in-out; }
      header .header-container a:hover {
        opacity: 0.8; }
    header .header-container .search-container {
      position: relative;
      float: right;
      max-width: 485px;
      width: 100%; }
      @media screen and (max-width: 768px) {
        header .header-container .search-container {
          margin: 0 auto;
          margin-top: 35px;
          max-width: 100%;
          float: none; } }
      header .header-container .search-container i {
        position: absolute;
        margin: 4.5px 15px;
        color: #333; }
      header .header-container .search-container .site-search {
        width: 100%;
        height: 25px;
        padding: 0 40px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 25px;
        outline: none;
        border: 1px solid #fff;
        box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.8);
        -webkit-transition: box-shadow 0.5s ease-in-out;
        /* For Safari 3.1 to 6.0 */
        transition: box-shadow 0.5s ease-in-out; }
        header .header-container .search-container .site-search:focus {
          box-shadow: none;
          border: 1px solid #333; }

main {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
  margin-top: -485px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 1366px) {
    main {
      margin-top: -520px; } }
  @media screen and (max-width: 1152px) {
    main {
      max-width: 960px; } }
  @media screen and (max-width: 980px) {
    main {
      max-width: 95%; } }
  main .main-container {
    max-width: 882px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 22.5px;
    margin-bottom: 90px; }
    @media screen and (max-width: 1152px) {
      main .main-container {
        max-width: 800px; } }
    @media screen and (max-width: 980px) {
      main .main-container {
        max-width: 90%; } }
    main .main-container .main-info .breadcrumbs {
      margin: 20px 0;
      font-size: 12px; }
      main .main-container .main-info .breadcrumbs a {
        text-decoration: none;
        color: #000; }
      main .main-container .main-info .breadcrumbs .active-manufacturer {
        color: #777; }
      main .main-container .main-info .breadcrumbs span {
        color: #777;
        padding: 0 15px; }
    main .main-container .main-info .gallery-container {
      width: 310px;
      float: left; }
      @media screen and (max-width: 768px) {
        main .main-container .main-info .gallery-container {
          float: none;
          margin: 0 auto;
          margin-bottom: 30px; } }
      @media screen and (max-width: 359px) {
        main .main-container .main-info .gallery-container {
          margin-left: -6.5%; } }
      @media screen and (max-width: 768px) {
        main .main-container .main-info .gallery-container .active-image img {
          max-height: 400px;
          margin: 0 auto;
          display: block; } }
      @media screen and (max-width: 359px) {
        main .main-container .main-info .gallery-container .active-image img {
          max-height: 380px; } }
      main .main-container .main-info .gallery-container .gallery-thumbs ul li {
        float: left;
        margin: 0 calc(55px / 6); }
        main .main-container .main-info .gallery-container .gallery-thumbs ul li a {
          display: block;
          position: relative;
          width: 85px;
          height: 85px;
          text-align: center;
          cursor: pointer; }
          main .main-container .main-info .gallery-container .gallery-thumbs ul li a img {
            width: auto;
            height: 100%;
            opacity: 1;
            -webkit-transition: opacity 0.5s ease-in-out;
            /* For Safari 3.1 to 6.0 */
            transition: opacity 0.5s ease-in-out; }
          main .main-container .main-info .gallery-container .gallery-thumbs ul li a .overlay {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.7+100 */
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b3000000',GradientType=0 );
            /* IE6-9 */
            opacity: 1;
            -webkit-transition: opacity 0.5s ease-in-out;
            /* For Safari 3.1 to 6.0 */
            transition: opacity 0.5s ease-in-out;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0; }
            main .main-container .main-info .gallery-container .gallery-thumbs ul li a .overlay:hover {
              opacity: 0; }
        main .main-container .main-info .gallery-container .gallery-thumbs ul li .active-thumb {
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.8);
          -webkit-transition: box-shadow 0.5s ease-in-out;
          /* For Safari 3.1 to 6.0 */
          transition: box-shadow 0.5s ease-in-out; }
          main .main-container .main-info .gallery-container .gallery-thumbs ul li .active-thumb .overlay {
            display: none; }
    main .main-container .main-info .info-container {
      width: 325px;
      float: right; }
      @media screen and (max-width: 768px) {
        main .main-container .main-info .info-container {
          float: none;
          margin: 0 auto;
          width: 100%; } }
      main .main-container .main-info .info-container h2 {
        font-size: 26px;
        font-weight: 700;
        color: #333333; }
      main .main-container .main-info .info-container .specification-container {
        margin: 20px 0;
        font-weight: 300; }
        main .main-container .main-info .info-container .specification-container:last-child {
          margin-bottom: 0; }
        main .main-container .main-info .info-container .specification-container .specification-title {
          font-size: 18px;
          font-weight: 700;
          color: #333333; }
          @media screen and (max-width: 768px) {
            main .main-container .main-info .info-container .specification-container .specification-title {
              display: block;
              margin-bottom: 20px; } }
        main .main-container .main-info .info-container .specification-container input {
          outline: none; }
      main .main-container .main-info .info-container .user-review {
        margin: 15px 0; }
        main .main-container .main-info .info-container .user-review .rating {
          float: left;
          margin-right: 10px;
          font-size: 20px;
          color: #fdb913; }
        main .main-container .main-info .info-container .user-review .comments-no {
          float: left;
          margin-left: 20px; }
          main .main-container .main-info .info-container .user-review .comments-no a {
            color: #454545;
            line-height: 20px;
            font-size: 14px; }
      main .main-container .main-info .info-container .color {
        position: relative; }
        main .main-container .main-info .info-container .color ul {
          display: inline-block;
          vertical-align: sub;
          margin-left: 15px; }
          main .main-container .main-info .info-container .color ul li {
            float: left; }
            main .main-container .main-info .info-container .color ul li .circle {
              display: block;
              margin-left: 10px;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #000;
              border: 2px solid #8f8f8f;
              cursor: pointer;
              box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.8);
              -webkit-transition: box-shadow 0.5s ease-in-out;
              /* For Safari 3.1 to 6.0 */
              transition: box-shadow 0.5s ease-in-out; }
              main .main-container .main-info .info-container .color ul li .circle:hover {
                box-shadow: none; }
            main .main-container .main-info .info-container .color ul li .active-device-color {
              box-shadow: none; }
      main .main-container .main-info .info-container .phone-storage input {
        margin-left: 10px; }
      main .main-container .main-info .info-container .additional-equipment ul {
        padding-left: 30px;
        margin-top: 15px;
        line-height: 22px; }
        main .main-container .main-info .info-container .additional-equipment ul input {
          margin-right: 10px; }
      main .main-container .main-info .info-container .rate select {
        padding: 5px 20px;
        margin: 15px 0 0 35px;
        outline: none; }
        @media screen and (max-width: 768px) {
          main .main-container .main-info .info-container .rate select {
            margin-left: 0; } }
      main .main-container .main-info .info-container .rate .tooltip-container {
        position: relative;
        display: inline-block; }
        main .main-container .main-info .info-container .rate .tooltip-container .info-tooltip {
          margin-left: 15px;
          font-size: 22px;
          vertical-align: middle;
          color: #333;
          cursor: pointer; }
          main .main-container .main-info .info-container .rate .tooltip-container .info-tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1; }
          main .main-container .main-info .info-container .rate .tooltip-container .info-tooltip .tooltiptext {
            visibility: hidden;
            position: absolute;
            font-size: 10px;
            line-height: 14px;
            font-family: 'Roboto', sans-serif;
            width: 115px;
            text-align: left;
            background-color: #555;
            color: #fff;
            padding: 5px 0;
            padding-left: 25px;
            border-radius: 6px;
            z-index: 1;
            opacity: 0;
            -webkit-transition: opacity 1s ease-in-out;
            /* For Safari 3.1 to 6.0 */
            transition: opacity 1s ease-in-out;
            top: -14px;
            left: 125%; }
            @media screen and (max-width: 359px) {
              main .main-container .main-info .info-container .rate .tooltip-container .info-tooltip .tooltiptext {
                width: 100px;
                padding-left: 15px; } }
            main .main-container .main-info .info-container .rate .tooltip-container .info-tooltip .tooltiptext:after {
              content: "";
              position: absolute;
              top: 50%;
              right: 100%;
              margin-top: -5px;
              border-width: 5px;
              border-style: solid;
              border-color: transparent #555 transparent transparent; }
      main .main-container .main-info .info-container .price {
        margin-right: 13px;
        color: #333333; }
        @media screen and (max-width: 768px) {
          main .main-container .main-info .info-container .price {
            margin-right: 0; } }
        main .main-container .main-info .info-container .price p {
          text-align: right;
          font-size: 24px; }
          main .main-container .main-info .info-container .price p b {
            font-weight: 700; }
        main .main-container .main-info .info-container .price button {
          width: 100%;
          height: 50px;
          margin-top: 50px;
          background-color: #ee2d24;
          border: none;
          font-size: 22px;
          font-weight: 700;
          color: #fff;
          outline: none;
          cursor: pointer;
          position: relative;
          overflow: hidden;
          -webkit-transition: box-shadow 0.5s ease-in-out;
          /* For Safari 3.1 to 6.0 */
          transition: box-shadow 0.5s ease-in-out; }
          main .main-container .main-info .info-container .price button:hover {
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.8); }
        main .main-container .main-info .info-container .price button:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 5px;
          height: 5px;
          background: rgba(0, 0, 0, 0.2);
          opacity: 0;
          border-radius: 100%;
          transform: scale(1, 1) translate(-50%);
          transform-origin: 50% 50%; }

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1; }
  20% {
    transform: scale(25, 25);
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scale(60, 60); } }
        main .main-container .main-info .info-container .price button:focus:not(:active)::after {
          animation: ripple 1s ease-out; }
    main .main-container .additional-info {
      max-width: 855px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 50px;
      box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.8);
      margin-top: 120px; }
      @media screen and (max-width: 768px) {
        main .main-container .additional-info {
          margin-top: 60px; } }
      main .main-container .additional-info .additional-info-image {
        width: 100%;
        height: 220px;
        background-image: url("../images/printed-circuit-board.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7; }
      main .main-container .additional-info .additional-info-container {
        padding: 30px 20px;
        color: #333333; }
        main .main-container .additional-info .additional-info-container h3 {
          margin-bottom: 25px;
          font-size: 22px;
          font-weight: 700; }
        main .main-container .additional-info .additional-info-container table {
          margin-left: 35px; }
          @media screen and (max-width: 768px) {
            main .main-container .additional-info .additional-info-container table {
              margin-left: 0; } }
          main .main-container .additional-info .additional-info-container table p {
            color: #333333;
            font-size: 16px;
            line-height: 26px;
            font-weight: 300; }
            main .main-container .additional-info .additional-info-container table p b {
              font-weight: 500;
              padding-right: 10px; }
    main .main-container .comments {
      position: relative; }
      main .main-container .comments h3 {
        font-size: 24px;
        font-weight: 700;
        color: #333333; }
      main .main-container .comments .comment {
        position: relative;
        margin: 45px 0 22.5px 90px;
        box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.8); }
        @media screen and (max-width: 768px) {
          main .main-container .comments .comment {
            margin-left: 0; } }
        main .main-container .comments .comment .user-image {
          position: absolute;
          top: -15px;
          left: -15px;
          width: 70px;
          height: 70px; }
          main .main-container .comments .comment .user-image img {
            border-radius: 50%;
            border: 1px solid #777; }
          @media screen and (max-width: 768px) {
            main .main-container .comments .comment .user-image {
              top: -35px;
              left: calc(50% - 35px); } }
        main .main-container .comments .comment .title {
          margin: 20px 0 30px 85px; }
          @media screen and (max-width: 768px) {
            main .main-container .comments .comment .title {
              margin: 50px 20px 10px 30px; } }
          main .main-container .comments .comment .title h4 {
            float: left;
            max-width: 550px;
            width: 100%;
            font-size: 18px;
            line-height: 22px; }
            @media screen and (max-width: 1152px) {
              main .main-container .comments .comment .title h4 {
                max-width: 490px; } }
            @media screen and (max-width: 768px) {
              main .main-container .comments .comment .title h4 {
                max-width: 100%;
                padding-bottom: 10px; } }
          main .main-container .comments .comment .title .rating {
            float: right;
            margin-right: 25px;
            font-size: 18px;
            color: #fdb913; }
            @media screen and (max-width: 768px) {
              main .main-container .comments .comment .title .rating {
                float: none;
                text-align: center;
                margin-right: 0; } }
            main .main-container .comments .comment .title .rating i {
              padding-left: 5px; }
        main .main-container .comments .comment .content {
          padding: 0 25px 25px 25px;
          font-weight: 300;
          font-size: 16px;
          line-height: 22px; }
