@import 'reset';
// @import 'main';
// font-family: 'Roboto', sans-serif;

html {
    font-family: 'Roboto', sans-serif;
}
.slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
// ********** SITE HEADER **********
header {
    width: 100%;
    height: 630px;
    background-image: url('../images/pines.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .header-container {
        max-width: 1366px;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
        @media screen and (max-width: 1366px) {
            width: 95%;
        }
        
        a {
            float: left;
            // padding-top: 10px;
            // font-size: 18px;
            // font-weight: 900;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;
            color: #333333;
        }
        .search-container {
            position: relative;
            float: right;
            max-width: 485px;
            width: 100%;
            @media screen and (max-width: 768px) {
                margin: 0 auto;
                margin-top: 35px;
                max-width: 100%;
                float: none;
            }
            i {
                position: absolute;
                margin: 4.5px 15px;
                color: #333;
            }
            .site-search {
                width: 100%;
                height: 25px;
                padding: 0 40px;
                background-color: rgba(255,255,255, 0.8);
                // border: 1px solid #000;
                border-radius: 25px;
                outline: none;
                // font-family:Arial, FontAwesome;
                //**********************
                border: 1px solid #fff;
                box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.8);
            }
        }
    }
}
// ********** end of SITE HEADER **********
main {
    max-width: 1152px;
    width: 100%;
    margin: 0 auto;
    margin-top: -485px;
    background-color: #fff;
    border-radius: 15px;

    @media screen and (max-width: 1366px) {
        margin-top: -520px;
    }
    @media screen and (max-width: 1152px) {
        max-width: 960px;
    }
    @media screen and (max-width: 980px) {
        max-width: 95%;
    }

    // ******************
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.8);

    .main-container {
        max-width: 882px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 22.5px;
        margin-bottom: 90px;

        @media screen and (max-width: 1152px) {
            max-width: 800px;
        }
        @media screen and (max-width: 980px) {
            max-width: 90%;
        }
        .main-info {
            .breadcrumbs {
                margin: 20px 0;
                font-size: 12px;

                a {
                    text-decoration: none;
                    color: #000;
                }

                .active-manufacturer {
                    color: #777;
                }
                span {
                    color: #777;
                    padding: 0 15px;
                }
            }
            // ********** PHONE GALLERY **********
            .gallery-container {
                width: 310px;
                float: left;
                @media screen and (max-width: 768px) {
                    float: none;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
                @media screen and (max-width: 359px) {
                    margin-left: -6.5%;
                }
                .active-image {
                    // width: 310px;
                    // height: 460px;
                    img {
                        @media screen and (max-width: 768px) {
                            max-height: 400px;
                            margin: 0 auto;
                            display: block;
                        }
                        @media screen and (max-width: 359px) {
                            max-height: 380px;
                        }
                    }
                }
                .gallery-thumbs {
                    ul {
                        li {
                            float: left;
                            margin: 0 calc(55px / 6);
                            a {
                                display: block;
                                position: relative;
                                width: 85px;
                                height: 85px;
                                text-align: center;
                                cursor: pointer;
                                img {
                                    width: auto;
                                    height: 100%;
                                    opacity: 1;
                                    -webkit-transition: opacity 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
                                    transition: opacity 0.5s ease-in-out;
                                }
                                .overlay {
                                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,000000+100&0+0,0.7+100 */
                                    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
                                    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
                                    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */
                                    opacity: 1;
                                    -webkit-transition: opacity 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
                                    transition: opacity 0.5s ease-in-out;

                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;

                                    &:hover {
                                        opacity: 0;
                                    }
                                }

                            }

                            .active-thumb {
                                box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.8);
                                -webkit-transition: box-shadow 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
                                transition: box-shadow 0.5s ease-in-out;
                                .overlay { 
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            // ########## end of PHONE GALLERY ##########
            // ********** MAIN PHONE INFO **********
            .info-container {
                width: 325px;
                float: right;

                @media screen and (max-width: 768px) {
                    float: none;
                    margin: 0 auto;
                    width: 100%;
                }

                h2 {
                    // font-size: 23px;
                    font-size: 26px;
                    font-weight: 700;
                    color: #333333;
                }

                .specification-container {
                    margin: 20px 0;
                    font-weight: 300;

                    &:last-child {
                        margin-bottom: 0;
                    }
                    .specification-title {
                        font-size: 18px;
                        font-weight: 700;
                        color: #333333;
                        @media screen and (max-width: 768px) {
                            display: block;
                            margin-bottom: 20px;
                        }
                    }
                    input {
                        outline: none;
                    }
                }

                .user-review {
                    margin: 15px 0;

                    .rating {
                        float: left;
                        margin-right: 10px;
                        font-size: 20px;
                        color: #fdb913;
                    }

                    .comments-no {
                        float: left;
                        margin-left: 20px;
                        a {
                            color: #454545;
                            line-height: 20px;
                            font-size: 14px;
                        }
                    }
                }

                .color {
                    position: relative;
                    ul {
                        display: inline-block;
                        vertical-align: sub;
                        margin-left: 15px;
                        li {
                            float: left;
                            // font-size: 20px;
                            .circle {
                                display: block;
                                margin-left: 10px;
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-color: #000;
                                border: 2px solid #8f8f8f;
                                cursor: pointer;
                                box-shadow: 0 0 7px 0px rgba(0, 0, 0, 0.8);
                                -webkit-transition: box-shadow 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
                                transition: box-shadow 0.5s ease-in-out;
                                &:hover {
                                    box-shadow: none;
                                }
                            }
                            .active-device-color {
                                box-shadow: none;
                            }
                        }
                    }
                }

                .phone-storage {
                    input {
                        margin-left: 10px;
                    }
                }
                .additional-equipment {
                    ul {
                        padding-left: 30px;
                        margin-top: 15px;
                        // font-weight: 300;
                        line-height: 22px;
                        input {
                            margin-right: 10px;
                        }
                    }
                }

                .rate {
                    select {
                        padding: 5px 20px;
                        margin: 15px 0 0 35px;
                        outline: none;
                        @media screen and (max-width: 768px) {
                            margin-left: 0;
                        }
                    }
                    .tooltip-container {
                        position: relative;
                        display: inline-block;
                        .info-tooltip {
                            margin-left: 15px;
                            font-size: 22px;
                            vertical-align: middle;
                            color: #333;
                            cursor: pointer;
                            &:hover {
                                .tooltiptext {
                                    visibility: visible;
                                    opacity: 1;
                                }
                            }
                            .tooltiptext {
                                visibility: hidden;
                                position: absolute;
                                font-size: 10px;
                                line-height: 14px;
                                font-family: 'Roboto', sans-serif;
                                width: 115px;
                                text-align: left;
                                background-color: #555;
                                color: #fff;
                                padding: 5px 0;
                                padding-left: 25px;
                                border-radius: 6px;
                                z-index: 1;
                                opacity: 0;
                                -webkit-transition: opacity 1s ease-in-out; /* For Safari 3.1 to 6.0 */
                                transition: opacity 1s ease-in-out;
                                top: -14px;
                                left: 125%;
                                @media screen and (max-width: 359px) {
                                    width: 100px;
                                    padding-left: 15px;
                                }
                                &:after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    right: 100%;
                                    margin-top: -5px;
                                    border-width: 5px;
                                    border-style: solid;
                                    border-color: transparent #555 transparent transparent;
                                }
                            }
                        }
                        
                    }
                }
                .price {
                    margin-right: 13px;
                    color: #333333;
                    @media screen and (max-width: 768px) {
                        margin-right: 0;
                    }
                    p {
                        text-align: right;
                        font-size: 24px;
                        b {
                            font-weight: 700;
                        }
                    }
                    button {
                        width: 100%;
                        height: 50px;
                        margin-top: 50px;
                        background-color: #ee2d24;
                        border: none;
                        font-size: 22px;
                        font-weight: 700;
                        color: #fff;
                        outline: none;
                        cursor: pointer;
                    }
                }
            }
            // ########## end of MAIN PHONE INFO ##########
        }
        // ********** ADDITTIONAL PHONE INFO CONTAINER **********
        .additional-info {
            max-width: 855px;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 50px;
            // ************************ remove
            box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.8);
            margin-top: 120px;

            @media screen and (max-width: 768px) {
                margin-top: 60px;
            }

            .additional-info-image {
                width: 100%;
                height: 220px;
                background-image: url('../images/printed-circuit-board.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                opacity: 0.7;
            }

            .additional-info-container {
                padding: 30px 20px;
                color: #333333;

                h3 {
                    // font-size: 16px;
                    margin-bottom: 25px;
                    font-size: 22px;
                    font-weight: 700;
                }
                table {
                    margin-left: 35px;
                    @media screen and (max-width: 768px) {
                        margin-left: 0;
                    }
                    p{
                        color: #333333;
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 300;
                        b {
                            font-weight: 500;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
        // ########## end of ADDITTIONAL PHONE INFO CONTAINER ##########
        // ********** PHONE USER COMMENTS SECTION **********
        .comments {
            position: relative;
            
            h3 {
                font-size: 24px;
                font-weight: 700;
                color: #333333;
            }

            .comment {
                position: relative;
                margin: 45px 0 22.5px 90px;

                box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.8);

                @media screen and (max-width: 768px) {
                    margin-left: 0;
                }
                .user-image {
                    position: absolute;
                    top: -15px;
                    left: -15px;
                
                    width: 70px;
                    height: 70px;
                    img {
                        border-radius: 50%;
                        border: 1px solid #777;
                    }
                    @media screen and (max-width: 768px) {
                        top: -35px;
                        left: calc(50% - 35px);
                    }
                }
                
                .title {
                    margin: 20px 0 30px 85px;
                    @media screen and (max-width: 768px) {
                        margin: 50px 20px 10px 30px;
                    }
                    h4 {
                        float: left;
                        max-width: 550px;
                        width: 100%;
                        font-size: 18px;
                        line-height: 22px;
                        @media screen and (max-width: 1152px) {
                            max-width: 490px;
                        }
                        @media screen and (max-width: 768px) {
                            max-width: 100%;
                            padding-bottom: 10px;
                        }
                    }
                    .rating {
                        float: right;
                        margin-right: 25px;
                        font-size: 18px;
                        color: #fdb913;
                        @media screen and (max-width: 768px) {
                            float: none;
                            text-align: center;
                            margin-right: 0;
                        
                        }
                        i{ 
                            padding-left: 5px;
                        }
                    }
                }
                .content {
                    padding: 0 25px 25px 25px;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 22px;
                }
            }
        }
        // ########## end of PHONE USER COMMENTS SECTION ##########
    }
}
